@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/img/fondo.jpg);

}
.box{
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    padding: 30px 50px;
    background: #075d90;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
                -25px -25px 75px rgba(0,0,0,0.22),
        inset 5px 5px 5px rgba(0,0,0,0.05),
        inset 5px 5px 5px rgba(255,255,255,0.2),
        inset  -5px -5px 15px rgba(0,0,0,0.75);
}
.box__h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    font-size: 1.75em;
}
#box-input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 1em;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25),
                -5px -5px 15px rgba(255,255,255,0.1);
}
.box li{
    width: calc(100% - 40px);
    position: relative;
    display: flex;
    margin: 15px 0 ;
    padding: 10px 10px 10px 40px;
    text-align: center;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    background: #021f31;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -2px -2px 5px rgba(255,255,255,0.05);

}
.box li i{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    background: aqua;
    right: -45px;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -2px -2px 5px rgba(255,255,255,0.05);


}
.box li i::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: white;
    transform: rotate(45deg);

}

.box li i::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
}



.box li.done{
    background: green;

}

#box-list {
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;

}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: white;
}
